@import (reference) './tokens.global.less';

.color-text-subdued {
  color: @color-text-subdued;
}

.color-red-400 {
  color: @color-red-400;
}

.color-text-default {
  color: @color-text-default;
}

.color-green {
  color: rgb(30, 96, 85);
  font-weight: 700;
  display: flex;
  align-items: center;
}

.background-color-pale {
  background-color: @background-color-pale;
}

.star-filled {
  fill: #b4690e;
}