.ud-block-list .ud-block-list-item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  text-align: left;
  letter-spacing: normal;
  white-space: normal;
}

.ud-block-list-item-icon + .ud-block-list-item-content {
  margin-left: 1.6rem;
}