@color-text-default: #2d2f31;
// @font-stack-text: 'Udemy Sans', 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
@font-weight-normal: 400;
@font-weight-bold: 700;
@line-height-heading: 1.2;
@line-height-text: 1.4;
@html-font-size: 62.5%;

@font-size-sm: 1.4rem;
@font-size-md: 1.6rem;
@font-size-lg: clamp(1.65rem, calc(1.65rem + (1.8 - 1.65) * calc((100vw - 36rem) / (144 - 36))), 1.8rem);
@font-size-xxl: clamp(2rem, calc(2rem + (3.2 - 2) * calc((100vw - 36rem) / (144 - 36))), 3.2rem);

@space-lg: 2.4rem;
@space-md: 1.6rem;
@space-xs: 0.8rem;
@space-sm: 0.8rem;

// @viewport-sm-min: 37.5625rem;
// @breakpoint-paid-clp-md-max: 67.44em;
// @viewport-sm-max: 43.75rem;
// @breakpoint-paid-clp-lg-min: 47.5625rem;
// @line-length-md: 108.4rem;
@line-length-md: 60rem;
@line-length-heading: 36rem;
@border-dark: 1px solid #2d2f31;
@color-text-link: #5022c3;
// @font-stack-heading: 'Udemy Sans', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// @color-gray-500: var(--color-gray-500);

@font-stack-heading-serif: SuisseWorks, Georgia, Times, 'Times New Roman', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
@font-stack-heading: 'Udemy Sans', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
@font-stack-text: 'Udemy Sans', 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
@color-gray-600: #101112;
@color-gray-550: #1c1d1f;
@color-gray-500: #2d2f31;
@color-gray-400: #3e4143;
@color-gray-350: #54585b;
@color-gray-300: #6a6f73;
@color-gray-250: #9da3a7;
@color-gray-200: #d1d7dc;
@color-gray-150: #e4e8eb;
@color-gray-100: #f7f9fa;
@color-red-500: #612012;
@color-red-450: #8a2610;
@color-red-400: #b32d0f;
@color-red-350: #da3c18;
@color-red-300: #f4522d;
@color-red-250: #ef8e70;
@color-red-200: #fcbca0;
@color-red-150: #fbd5c4;
@color-red-100: #fbece9;
@color-blue-500: #180a3d;
@color-blue-450: #281160;
@color-blue-400: #371783;
@color-blue-350: #431ca3;
@color-blue-300: #5022c3;
@color-blue-250: #8072e6;
@color-blue-200: #c0c4fc;
@color-blue-150: #d8e0fb;
@color-blue-100: #eeeffc;
@color-indigo-500: var(@color-blue-500);
@color-indigo-400: var(@color-blue-400);
@color-indigo-300: var(@color-blue-300);
@color-indigo-200: var(@color-blue-200);
@color-indigo-100: var(@color-blue-100);
@color-orange-500: #4d3105;
@color-orange-450: #804d09;
@color-orange-400: #b4690e;
@color-orange-350: #df890c;
@color-orange-300: #f69c08;
@color-orange-250: #ebb152;
@color-orange-200: #f3ca8c;
@color-orange-150: #f7dfba;
@color-orange-100: #fcf5e8;
@color-yellow-500: #223509;
@color-yellow-450: #5c6a12;
@color-yellow-400: #959b19;
@color-yellow-350: #d2cf1e;
@color-yellow-300: #e9e729;
@color-yellow-250: #eeec5d;
@color-yellow-200: #eceb98;
@color-yellow-150: #f3f2b8;
@color-yellow-100: #f9f9d7;
@color-green-500: #113731;
@color-green-450: #174b43;
@color-green-400: #1e6055;
@color-green-350: #1b8170;
@color-green-300: #19a38c;
@color-green-250: #6cb1a5;
@color-green-200: #acd2cc;
@color-green-150: #cfe4e1;
@color-green-100: #f2f7f6;
@color-purple-500: #350c50;
@color-purple-450: #541879;
@color-purple-400: #7325a3;
@color-purple-350: #8b2dc9;
@color-purple-300: #a435f0;
@color-purple-250: #c377f6;
@color-purple-200: #e1b8fc;
@color-purple-150: #ebd3fc;
@color-purple-100: #f6eefc;
@color-white: #fff;
@gradient-purple-500: radial-gradient(100% 100% at 0% 0%, var(--color-gray-550) 30%, var(--color-blue-450) 50%, var(--color-purple-450) 80%);
@gradient-purple-300: radial-gradient(100% 100% at 0% 0%, var(@color-gray-550) 30%, var(@color-blue-300) 50%, var(@color-purple-300) 80%);
@gradient-purple-200: radial-gradient(100% 100% at 0% 0%, var(@color-blue-250) 30%, var(@color-blue-200) 50%, var(@color-purple-200) 80%);
@gradient-purple-100: radial-gradient(100% 100% at 0% 0%, var(@color-blue-150) 30%, var(@color-blue-100) 50%, var(@color-purple-100) 80%);
@gradient-red-500: radial-gradient(100% 100% at 0% 0%, var(@color-gray-550) 30%, var(@color-purple-450) 50%, var(@color-red-450) 80%);
@gradient-red-300: radial-gradient(100% 100% at 0% 0%, var(@color-gray-550) 30%, var(@color-purple-300) 50%, var(@color-red-300) 80%);
@gradient-red-200: radial-gradient(100% 100% at 0% 0%, var(@color-purple-250) 30%, var(@color-purple-200) 50%, var(@color-red-200) 80%);
@gradient-red-100: radial-gradient(100% 100% at 0% 0%, var(@color-purple-150) 30%, var(@color-purple-100) 50%, var(@color-red-100) 80%);
@gradient-green-500: radial-gradient(100% 100% at 0% 0%, var(@color-gray-550) 30%, var(@color-green-450) 50%, var(@color-yellow-450) 80%);
@gradient-green-300: radial-gradient(100% 100% at 0% 0%, var(@color-gray-550) 30%, var(@color-green-300) 50%, var(@color-yellow-300) 80%);
@gradient-green-200: radial-gradient(100% 100% at 0% 0%, var(@color-green-250) 30%, var(@color-green-200) 50%, var(@color-yellow-200) 80%);
@gradient-green-100: radial-gradient(100% 100% at 0% 0%, var(@color-green-150) 30%, var(@color-green-100) 50%, var(@color-yellow-100) 80%);