.main-content {
  flex: 4;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 18rem;
  min-width: 26rem;
  margin: 0 0 0 0.8rem;
  white-space: nowrap;
}

.course-container--6e7jU {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 1.6rem 0;
  position: relative;
}

.comparison-content {
  flex: 3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 0 2.4rem;
  /* min-width: 20rem; */
}

.whole-card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.num-students {
  display: flex;
  margin: 0 3.2rem 0 2.4rem;
}

@media (max-width: 37.5rem) {
  .course-container--6e7jU {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .course-info {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.4rem;
  }
  .comparison-content {
    margin-left: 7.4rem;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.4rem;
  }
  .wishlist-content {
    display: none;
  }
  .price-text-container {
    flex-direction: revert;
    align-items: center;
    flex-basis: 100%;
    margin-top: 0.4rem;
  }
  .discount-price {
    margin: 0 0.4rem 0 0;
  }
  .num-students {
    margin: 0 0.8rem;
  }
  .course-badges {
    margin-bottom: 0.4rem;
  }
}