
.header {
  background: #fff;
  height: 7.2rem;
  padding: 0 2.4rem;
  position: relative;
  z-index: 1010;
}
.mobile-header {
  display: none;
}
.mobile-header-placeholder {
  background: #fff;
  height: 5.6rem;
}
.flex-middle {
  align-items: center;
  display: flex;
}
.search-bar {
  flex-grow: 1;
  height: 4.8rem;
  border: 1px solid #2d2f31;
  border-radius: 100rem;
  background-color: #f7f9fa;
  margin: 0 1.2rem;
}
.search-bar:hover {
  border-color: #101011;
}
/* stylelint-disable-next-line selector-class-pattern */
.header .js-header-search-field {
  background-color: transparent;
}
.header .ud-search-form-autocomplete {
  max-width: none;
}
.logo {
  flex-shrink: 0;
  padding-right: 0.8rem;
}
/* stylelint-disable-next-line selector-class-pattern */
.gap-button .js-header-button {
  padding: 0 1.2rem;
}
.gap-auth-button {
  margin-left: 0.8rem;
}
.dropdown-button-text {
  color: #2d2f31;
}
.dropdown-button:hover .ud-icon,
.ud-popper-open .dropdown-button-text,
.ud-popper-open .dropdown-button .ud-icon,
.dropdown-button:hover .dropdown-button-text {
  color: #5022c3;
}
.btn {
  color: #2d2f31;
  margin: 1.2rem 0;
}
.dropdown-button {
  margin: 1.2rem 0;
}
.dropdown > div > div {
  width: 100%;
}
.menu {
  min-width: 28.8rem;
}
.header .dropdown-counter-badge,
.header .dropdown-dot-badge {
  position: absolute;
  font-size: 1.2rem;
  margin: 0;
}
.header .dropdown-counter-badge {
  top: 0;
  left: 50%;
}
.header .dropdown-dot-badge {
  top: 0.8rem;
  right: 0.8rem;
}
@media (max-width: 67.5em) {
  .group-a {
    display: none;
  }
}
@media (max-width: 57.5em) {
  .group-b {
    display: none;
  }
}
@media (max-width: 51.5em) {
  .group-c {
    display: none;
  }
}
@media (max-width: 75.06em) {
  .group-a-logged-out-variant {
    display: none;
  }
}
@media (max-width: 61.31em) {
  .group-b-logged-out-variant {
    display: none;
  }
}
@media (max-width: 43.81em) {
  .group-c-logged-out-variant {
    display: none;
  }
}
@media (max-width: 50rem) {
  .header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
}
@media (max-width: 61.25rem) {
  .header-admin {
    display: none;
  }
  .mobile-header-admin {
    display: block;
  }
}
.mark {
  position: absolute;
  width: 100%;
  left: 0;
}
.floating {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  animation: slide-from-top 250ms cubic-bezier(0, 0, 0.38, 0.9) 0ms forwards;
}
.visible {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
.hidden {
  box-shadow: none;
}